x-star-rating{
    font-family : 'Ionicons';
    font-size: 48px;
    display : inline-flex; 
}

x-star-ratin > .star::after { 
    content: '\f3ae';
    color: #777;
}

x-star-ratinh > .star.full::after {
    content: '\f2fc';
    color: #fd0;
}
